.header_container {
  display: flex;

  width: 100%;
  flex-direction: column;
  font-family: "Manrope";
}

.navbar_container {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
  cursor: pointer;
}
.header_image {
  width: 100%;
}
.audiophile {
  font-family: "Tilt Prism";
  font-weight: bold;
  font-size: 35px;
}

.cart_logo {
  width: 25px;
  height: 25px;
  padding-top: 35px;
  cursor: pointer;
}

.header_image {
  align-items: right;
  justify-content: right;
  position: relative;
}
.divs_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

hr {
  width: 83%;
  margin-top: 90px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.2;
}

.header_content {
  display: flex;
  flex-direction: column;
  color: white;
  width: 370px;
  padding-left: 120px;
  padding-top: 150px;
}
.new_product {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.header_content_title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  /* or 104% */

  letter-spacing: 2px;
  text-transform: uppercase;
}
.header_content_paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.see_product_btn {
  background: #d87d4a;
  width: 160px;
  border: none;
  height: 48px;
  color: white;
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.images_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}

.item1,
.item2 {
  grid-column: 1 / 2;
}
.item3 {
  grid-column: 2 / 3;
}
