.navbar_container {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  background: rgb(0, 0, 0);
}
hr {
  width: 83%;
  margin-top: 95px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding-top: 20px;
  cursor: pointer;
}
.header_image {
  width: 100%;
}
.audiophile {
  font-family: "Tilt Prism";
  font-weight: bold;
  font-size: 35px;
}

.cart_logo {
  width: 25px;
  height: 25px;
  padding-top: 35px;
  cursor: pointer;
}
